<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>qr_check</display-name>
  <servlet>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>com.mzl0101.servlet.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/servlet/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.mzl0101.servlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/servlet/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryDevicesServlet</servlet-name>
    <servlet-class>com.mzl0101.servlet.QueryDevicesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryDevicesServlet</servlet-name>
    <url-pattern>/servlet/QueryDevicesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateDevicesServlet</servlet-name>
    <servlet-class>com.mzl0101.servlet.UpdateDevicesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDevicesServlet</servlet-name>
    <url-pattern>/servlet/UpdateDevicesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyDevicesServlet</servlet-name>
    <servlet-class>com.mzl0101.servlet.ModifyDevicesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyDevicesServlet</servlet-name>
    <url-pattern>/servlet/ModifyDevicesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TimingDevicesTaskServlet</servlet-name>
    <servlet-class>com.mzl0101.servlet.TimingDevicesTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimingDevicesTaskServlet</servlet-name>
    <url-pattern>/servlet/TimingDevicesTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindPassServlet</servlet-name>
    <servlet-class>com.mzl0101.servlet.FindPassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindPassServlet</servlet-name>
    <url-pattern>/servlet/FindPassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyPassServlet</servlet-name>
    <servlet-class>com.mzl0101.servlet.ModifyPassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyPassServlet</servlet-name>
    <url-pattern>/servlet/ModifyPassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectWebcam_picServlet</servlet-name>
    <servlet-class>com.mzl0101.servlet.SelectWebcam_picServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectWebcam_picServlet</servlet-name>
    <url-pattern>/servlet/SelectWebcam_picServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryZigbeeServlet</servlet-name>
    <servlet-class>com.mzl0101.servlet.QueryZigbeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryZigbeeServlet</servlet-name>
    <url-pattern>/servlet/QueryZigbeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryZigbeeByLately</servlet-name>
    <servlet-class>com.mzl0101.servlet.QueryZigbeeByLately</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryZigbeeByLately</servlet-name>
    <url-pattern>/servlet/QueryZigbeeByLately</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyZigbeeLightServlet</servlet-name>
    <servlet-class>com.mzl0101.servlet.ModifyZigbeeLightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyZigbeeLightServlet</servlet-name>
    <url-pattern>/servlet/ModifyZigbeeLightServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>QueryZigbeeStatusTerminalIdAllServlet</servlet-name>
    <servlet-class>com.mzl0101.servlet.QueryZigbeeStatusTerminalIdAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryZigbeeStatusTerminalIdAllServlet</servlet-name>
    <url-pattern>/servlet/QueryZigbeeStatusTerminalIdAllServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>